<div class="page-container">
  <h2 class="mat-display-2 page-title">
    Doctors In Our Clinic
  </h2>
  <div class="select">
    <h4>Select specialization</h4>
    <mat-form-field>
      <mat-label>Specialization</mat-label>
      <mat-select (selectionChange)="onSelect($event.value)">
        <mat-option
          *ngFor="let specialization of specializations"
          [value]="specialization.value"
        >
          {{ specialization.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-doctors-deck [doctors]="doctors"></app-doctors-deck>
</div>
