<mat-card>
  <img
    class="avatar"
    *ngIf="base64Data; else profileIcon"
    [src]="retrievedImage"
  />
  <ng-template #profileIcon>
    <img
      class="placeholder-avatar"
      src="../../../assets/account_circle-24px.svg"
    />
  </ng-template>
  <div>
    <mat-card-title
      >{{ patient.firstName }} {{ patient.lastName }}</mat-card-title
    >
    <mat-card-subtitle
      >Phone Number: {{ patient.phoneNumber }}</mat-card-subtitle
    >
  </div>
</mat-card>
