p {
  text-align: center;
}

.avatar {
  max-width: 170px;
  max-height: 170px;
  border-radius: 50%;
}

.placeholder-avatar {
  min-width: 170px;
  min-height: 170px;
  border-radius: 50%;
}

.mat-card:active {
  box-shadow: 10px px gray;
  transform: translateY(2px);
  opacity: 0.5;
  cursor: pointer;
}
