.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.choice-button {
  background-color: #2295a2;
  color: white;
  margin: 20px;
  margin-top: 40px;
  min-width: 40%;
  min-height: 3.125em;
  margin-top: 50px;
  font-family: "Montserrat";
}
