<h3 class="mat-display-1 dialog-h3">
  Add Diagnosis
</h3>
<div class="dialog-container">
  <mat-error *ngIf="error" style="text-align: center;">
    <p>{{ error }}</p>
  </mat-error>
  <form
    [formGroup]="diagnoseForm"
    (ngSubmit)="createDiagnosis()"
    class="example-form"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" value="{{ data.name }}" />
      <mat-error
        *ngIf="
          !diagnoseForm.get('name').valid && diagnoseForm.get('name').touched
        "
        >{{ getErrorMessage(diagnoseForm.get("name")) }}</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        value="{{ data.description }}"
      ></textarea>
      <mat-error
        *ngIf="
          !diagnoseForm.get('description').valid &&
          diagnoseForm.get('description').touched
        "
        >{{ getErrorMessage(diagnoseForm.get("description")) }}</mat-error
      >
    </mat-form-field>
    <button mat-raised-button type="submit" class="choice-button">
      SAVE
    </button>
  </form>
</div>
