<mat-sidenav-container *ngIf="patient" style="height: 100%;">
  <mat-sidenav #start>
    <mat-nav-list (click)="start.toggle()">
      <a mat-list-item>
        <img
          src="../../../assets/green-cross.svg"
          style="max-width: 35px; max-height: 35px;"
        />
        <span style="margin-left: 3px;">Open Clinic</span>
      </a>
      <a mat-list-item routerLink="main-page">
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="book-visit">
        <span>Book visit</span>
      </a>
      <a mat-list-item routerLink="visits">
        <span>Visits</span>
      </a>
      <a
        mat-list-item
        routerLink="prescriptions"
        [queryParams]="{ isUser: true, isDoctor: false }"
      >
        <span>Prescriptions</span>
      </a>
      <a mat-list-item routerLink="doctors">
        <span>Doctors</span>
      </a>
      <a
        mat-list-item
        routerLink="documentation"
        [queryParams]="{ isEditable: true, patientUUID: patient.uuid }"
      >
        <span>Documentation</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar style="background-color: #2cb9a4;">
    <button id="sidenav_button" mat-icon-button (click)="start.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="logout-button" (click)="logout()">
      <img class="logout" src="../../../assets/logout.svg" />
    </button>
    <button
      mat-icon-button
      class="user-photo"
      routerLink="documentation"
      [queryParams]="{ isEditable: true, patientUUID: patient.uuid }"
    >
      <img
        class="avatar"
        *ngIf="base64Data; else profileIcon"
        [src]="retrievedImage"
      />
      <ng-template #profileIcon>
        <img class="avatar" src="../../../assets/account_circle-24px.svg" />
      </ng-template>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
