<div class="banner">
  <h2 class="mat-display-2">Hello {{ user.firstName }}</h2>
  <h3>How are you today?</h3>
  <button
    mat-raised-button
    type="button"
    class="login-button"
    routerLink="../book-visit"
  >
    Book Visit
  </button>
</div>
<div class="brief">
  <h3 class="mat-display-1">
    Leading Doctor
  </h3>
  <div class="doctor-container">
    <app-doctor-details
      *ngIf="leadingDoctor"
      [doctor]="leadingDoctor"
    ></app-doctor-details>
  </div>
  <h3 class="mat-display-1">
    Upcoming Visits
  </h3>
  <app-visits-table [user]="user" [fetchAll]="false"></app-visits-table>
</div>
