h2 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-family: "Montserrat";
  color: #2295a2;
}

h3 {
  margin-top: 5px;
  width: 100%;
  margin-bottom: 20px;
  font-family: "Montserrat";
  color: #2295a2;
}

.banner {
  background-image: url("../../../assets/streszczenie-szablon-projektu-medycznej-tapety_53876-61802.jpg");
  min-height: 250px;
  text-align: center;
  padding: 10px;
  font-family: "Montserrat";
  color: #2295a2;
}

.brief {
  height: 100%;
  text-align: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.doctor-container {
  max-width: 400px;
  max-height: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.login-button {
  background-image: linear-gradient(#19769f, #35d8a6);
  color: white;
  margin-left: auto;
  margin-right: auto;
  min-width: 20%;
  min-height: 3.125em;
  margin-top: 1.25em;
  font-family: "Montserrat";
}
