<div class="background-container">
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="form-container" *ngIf="!isLoading">
    <h1 class="mat-display-1">OPEN CLINIC</h1>
    <img src="../../../assets/green-cross.svg" />
    <mat-error *ngIf="error" style="text-align: center;">
      <p>{{ error }}</p>
    </mat-error>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" #f="ngForm">
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="email"
          placeholder="Email"
          type="text"
        />
        <mat-error
          *ngIf="
            !signInForm.get('email').valid && signInForm.get('email').touched
          "
          >{{ getErrorMessage(signInForm.get("email")) }}</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            !signInForm.get('password').valid &&
            signInForm.get('password').touched
          "
          >{{ getErrorMessage(signInForm.get("password")) }}</mat-error
        >
      </mat-form-field>
      <button mat-raised-button type="submit" class="login-button">
        LOG IN
      </button>
    </form>
  </div>
</div>
