img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.875em;
  margin-top: 1.25em;
  max-width: 5.625em;
  max-height: 5.625em;
}

h1 {
  color: #2a46b8;
  text-shadow: 0.125em 0.125em #08f1ab;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 31.25em;
  margin-bottom: 0.625em;
  font-family: "Montserrat";
}

.form-container {
  background: white;
  color: #73a1c2;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 21.875em;
  max-width: 31.25em;
  min-height: 31.25em;
  padding: 1.875em;
}

mat-form-field.mat-form-field {
  width: 100%;
}

.login-button {
  background-color: #2a46b8;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 3.125em;
  margin-top: 1.25em;
}
