<div class="table-div mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="onSort($event)"
  >
    <ng-container matColumnDef="Condition">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"
        >Condition</mat-header-cell
      >
      <mat-cell *matCellDef="let diagnosis">{{ diagnosis.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header="description"
        >Description</mat-header-cell
      >
      <mat-cell *matCellDef="let diagnosis">{{
        diagnosis.description
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef mat-sort-header="date"
        >Date</mat-header-cell
      >`
      <mat-cell *matCellDef="let diagnosis">{{ diagnosis.date }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        <div class="expandable-container">
          <button mat-fab (click)="openDoctorDialog(detail.element)">
            DOCTOR
          </button>
          <button mat-fab (click)="openVisitDialog(detail.element)">
            VISIT
          </button>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      matRipple
      class="element-row"
      [class.expanded]="expandedDiagnosis == row"
      (click)="expandedDiagnosis = expandedDiagnosis === row ? null : row"
    ></mat-row>
    <mat-row
      *matRowDef="
        let row;
        columns: ['expandedDetail'];
        when: isExpansionDetailRow
      "
      [@detailExpand]="
        row.element == expandedDiagnosis ? 'expanded' : 'collapsed'
      "
      style="overflow: hidden;"
    >
    </mat-row>
  </table>
  <mat-paginator
    *ngIf="dataSource.page | async as page"
    [length]="page.totalElements"
    [pageSize]="page.size"
    [pageIndex]="page.number"
    [hidePageSize]="true"
    (page)="dataSource.fetch($event.pageIndex)"
  >
  </mat-paginator>
</div>
