<h3 class="mat-display-1 dialog-h3">
  Booking Unavailable <br />
  Docktor booked or error occured
</h3>
<div class="dialog-container">
  <button mat-raised-button class="choice-button" (click)="onNoClick()">
    Close
  </button>
</div>
