<mat-card (click)="onClick()">
  <img
    class="avatar"
    *ngIf="base64Data; else profileIcon"
    [src]="retrievedImage"
  />
  <ng-template #profileIcon>
    <img
      class="placeholder-avatar"
      src="../../../assets/account_circle-24px.svg"
    />
  </ng-template>
  <div>
    <mat-card-title
      >{{ doctor.firstName }} {{ doctor.lastName }}</mat-card-title
    >
    <mat-card-subtitle>{{
      doctor.specialization.replace("_", " ")
    }}</mat-card-subtitle>
    <mat-card-content>
      <p>
        {{ doctor.description }}
      </p>
    </mat-card-content>
  </div>
</mat-card>
