p {
  text-align: center;
}

.avatar {
  width: 200px;
  height: 170px;
  border-radius: 50%;
}

.placeholder-avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.mat-card:active {
  box-shadow: 10px px gray;
  transform: translateY(2px);
  opacity: 0.5;
  cursor: pointer;
}
