form {
  margin-bottom: 40px;
}

.login-button {
  display: block;
  background-color: #2295a2;
  margin-bottom: 10px;
  color: white;
  min-width: 20%;
  min-height: 3.125em;
  font-family: "Montserrat";
}

.spinner {
  position: absolute;
  top: 80%;
  left: 50%;
}
