<div class="page-container">
  <h2 class="mat-display-2 page-title">
    Book Visit
  </h2>
  <form [formGroup]="bookingForm" (ngSubmit)="getAvailableDoctors()">
    <mat-form-field class="select">
      <h4>Select specialization</h4>
      <mat-select formControlName="specialization">
        <mat-option
          *ngFor="let specialization of specializations"
          [value]="specialization.value"
        >
          {{ specialization.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="select">
      <h4>Select Date</h4>
      <input
        formControlName="date"
        matInput
        type="datetime-local"
        value="Date.now()"
        min="Date.now()"
        step="1200"
      />
    </mat-form-field>
    <mat-form-field class="select">
      <h4>Select Clinic</h4>
      <mat-select formControlName="clinic">
        <mat-option *ngFor="let clinic of clinics" [value]="clinic.value">
          {{ clinic.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit" class="login-button">
      Find Available Doctors
    </button>
  </form>
  <app-doctors-deck [doctors]="doctors"></app-doctors-deck>
  <div *ngIf="isLoading" class="spinner">
    <app-loading-spinner class="spinner"></app-loading-spinner>
  </div>
</div>
