<h3 class="mat-display-1 dialog-h3">
  Upload Photo
</h3>
<div class="dialog-container" style="margin: 30px;">
  <div>
    <label for="file">Choose file to upload</label>
    <input
      id="file"
      name="file"
      multiple
      type="file"
      (change)="onFileChanged($event)"
    />
    <input type="button" (click)="onUpload()" value="Upload" />
  </div>
</div>
