<mat-card>
  <img class="avatar" *ngIf="retrievedImage" [src]="retrievedImage" />
  <div>
    <mat-card-title>{{ clinic.name }}</mat-card-title>
    <mat-card-subtitle
      >{{ clinic.address.street }} {{ clinic.address.city }}</mat-card-subtitle
    >
    <mat-card-subtitle>Phone: {{ clinic.phoneNumber }}</mat-card-subtitle>
  </div>
</mat-card>
