p {
  text-align: justify;
}

.avatar {
  max-width: 150px;
  max-height: 170px;
  border-radius: 50%;
}

.mat-card-avatar {
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 90px;
  margin-top: 20px;
}

.mat-card-title {
  margin-top: 20px;
}
