<div class="table-div mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="onSort($event)"
  >
    <ng-container matColumnDef="Medicine">
      <mat-header-cell *matHeaderCellDef mat-sort-header="medicineName"
        >Medicine</mat-header-cell
      >
      <mat-cell *matCellDef="let prescription">{{
        prescription.medicineName
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header="description"
        >Description</mat-header-cell
      >
      <mat-cell *matCellDef="let prescription">{{
        prescription.description
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Issuing Date">
      <mat-header-cell *matHeaderCellDef mat-sort-header="dateOfIssuing"
        >Issuing Date</mat-header-cell
      >`
      <mat-cell *matCellDef="let prescription">{{
        prescription.dateOfIssuing
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Expiration Date">
      <mat-header-cell *matHeaderCellDef mat-sort-header="dateOfExpiration"
        >Expiration Date</mat-header-cell
      >
      <mat-cell *matCellDef="let prescription">{{
        prescription.dateOfExpiration
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Code">
      <mat-header-cell *matHeaderCellDef mat-sort-header="code"
        >Code</mat-header-cell
      >
      <mat-cell *matCellDef="let prescription">{{
        prescription.code
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Patient">
      <mat-header-cell *matHeaderCellDef mat-sort-header="patientName"
        >Patient</mat-header-cell
      >
      <mat-cell *matCellDef="let prescription">{{
        prescription.patientName
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Doctor">
      <mat-header-cell *matHeaderCellDef mat-sort-header="doctorName"
        >Doctor</mat-header-cell
      >
      <mat-cell *matCellDef="let prescription">{{
        prescription.doctorName
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        <div class="expandable-container"></div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      matRipple
      class="element-row"
      [class.expanded]="expandedPrescription == row"
      (click)="expandedPrescription = expandedPrescription === row ? null : row"
    ></mat-row>
    <mat-row
      *matRowDef="
        let row;
        columns: ['expandedDetail'];
        when: isExpansionDetailRow
      "
      [@detailExpand]="
        row.element == expandedPrescription ? 'collapsed' : 'collapsed'
      "
      style="overflow: hidden;"
    >
    </mat-row>
  </table>
  <mat-paginator
    *ngIf="dataSource.page | async as page"
    [length]="page.totalElements"
    [pageSize]="page.size"
    [pageIndex]="page.number"
    [hidePageSize]="true"
    (page)="dataSource.fetch($event.pageIndex)"
  >
  </mat-paginator>
</div>
