<h3 class="mat-display-1 dialog-h3">
  Add Prescription
</h3>
<div class="dialog-container">
  <mat-error *ngIf="error" style="text-align: center;">
    <p>{{ error }}</p>
  </mat-error>
  <form
    [formGroup]="prescriptionForm"
    (ngSubmit)="createPrescription()"
    class="example-form"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Medicine Name</mat-label>
      <input
        matInput
        formControlName="medicineName"
        value="{{ data.medicineName }}"
      />
      <mat-error
        *ngIf="
          !prescriptionForm.get('medicineName').valid &&
          prescriptionForm.get('medicineName').touched
        "
        >{{ getErrorMessage(prescriptionForm.get("medicineName")) }}</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        value="{{ data.description }}"
      ></textarea>
      <mat-error
        *ngIf="
          !prescriptionForm.get('description').valid &&
          prescriptionForm.get('description').touched
        "
        >{{ getErrorMessage(prescriptionForm.get("description")) }}</mat-error
      >
    </mat-form-field>
    <button mat-raised-button type="submit" class="choice-button">
      SAVE
    </button>
  </form>
</div>
