img {
  margin-right: 5px;
}

span {
  margin-left: 20px;
  color: white;
}

a {
  background-image: linear-gradient(#19769f, #35d8a6);
}

.mat-sidenav {
  background-image: linear-gradient(#19769f, #35d8a6);
}

.logout {
  position: absolute;
  top: 3px;
}

.logout-button {
  max-height: 30px;
  max-width: 30px;
  background-color: #2cb9a4;
  position: absolute;
  right: 130px;
}

.avatar {
  border-radius: 50%;
  width: 80px;
  height: 63px;
}

.placeholder-avatar {
  width: 75px;
  height: 60px;
  border-radius: 50%;
}

.user-photo {
  position: absolute;
  right: 50px;
  top: 7px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 75px;
}
