<mat-sidenav-container style="height: 100%;">
  <mat-sidenav #start>
    <mat-nav-list (click)="start.toggle()">
      <a mat-list-item>
        <img
          src="../../../assets/green-cross.svg"
          style="max-height: 35px; min-height: 35px;"
        />
        <span style="margin-left: 3px;">Open Clinic</span>
      </a>
      <a mat-list-item routerLink="visits">
        <span>Visits</span>
      </a>
      <a
        mat-list-item
        routerLink="prescriptions"
        [queryParams]="{ isUser: true, isDoctor: true }"
      >
        <span>Prescriptions</span>
      </a>
      <a mat-list-item routerLink="patients">
        <span>Patients</span>
      </a>
      <a mat-list-item routerLink="profile">
        <span>Profile</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar style="background-color: #2cb9a4;">
    <button id="sidenav_button" mat-icon-button (click)="start.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="logout-button" (click)="logout()">
      <img class="logout" src="../../../assets/logout.svg" />
    </button>
    <button mat-icon-button class="user-photo" routerLink="profile">
      <img
        class="avatar"
        *ngIf="base64Data; else profileIcon"
        [src]="retrievedImage"
      />
      <ng-template #profileIcon>
        <img class="avatar" src="../../../assets/account_circle-24px.svg" />
      </ng-template>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet> </mat-sidenav-container
>s
