<div class="patient-documentation" *ngIf="patient">
  <mat-card>
    <div class="header-container">
      <mat-card-header></mat-card-header>
      <h2>{{ patient.firstName }} {{ patient.lastName }}</h2>
      <h4>Personal Documentation</h4>
    </div>
    <img
      class="avatar"
      *ngIf="base64Data; else profileIcon"
      [src]="retrievedImage"
    />
    <ng-template #profileIcon>
      <img
        class="placeholder-avatar"
        src="../../../assets/account_circle-24px.svg"
      />
    </ng-template>
    <mat-card-content>
      <div class="list-div">
        <mat-list>
          <mat-list-item>
            First name: <span>{{ patient.firstName }}</span></mat-list-item
          >
          <mat-list-item>
            Last name: <span>{{ patient.lastName }}</span></mat-list-item
          >
          <mat-list-item>
            Sex: <span>{{ patient.sex.toLowerCase() }}</span></mat-list-item
          >
        </mat-list>
        <mat-list>
          <mat-list-item>
            Identity number:
            <span
              ><span>{{ patient.identityNumber }}</span></span
            ></mat-list-item
          >
          <mat-list-item>
            Phone number:
            <span>{{ patient.phoneNumber }}</span></mat-list-item
          >
          <mat-list-item>
            Date of joining:<span> {{ patient.dateOfJoining }}</span>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isEditable == 'true'">
      <button mat-button routerLink="../visits">VISITS</button>
      <button
        mat-button
        routerLink="../prescriptions"
        [queryParams]="{
          isUser: false,
          isDoctor: false,
          patientUUID: patient.uuid
        }"
      >
        PRESCRIPTIONS
      </button>
      <button mat-button (click)="openEditDialog()">
        EDIT
      </button>
      <button mat-button (click)="openPhotoDialog()">
        PHOTO
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="diagnosis-table">
  <app-diagnoses-table
    *ngIf="patient"
    [patient]="patient"
  ></app-diagnoses-table>
</div>
