<div class="page-container">
  <h2 class="mat-display-2 page-title">
    Prescriptions
  </h2>
  <app-prescriptions-table
    *ngIf="user"
    [user]="user"
    [isDoctor]="isDoctor"
  ></app-prescriptions-table>
</div>
