<h3 class="mat-display-1 dialog-h3">
  Are You Sure You Want To Book That Visit
</h3>
<div class="booking-container">
  <button mat-raised-button class="choice-button" (click)="book()">Yes</button>
  <button mat-raised-button class="choice-button" (click)="onNoClick()">
    No
  </button>
</div>
