<div class="background-container">
  <mat-grid-list cols="2" rowHeight="100%">
    <mat-grid-tile>
      <div class="description-container">
        <h2 class="mat-display-1">Patient's Portal</h2>
        <h1 class="mat-display-3">OPEN CLINIC</h1>
        <p class="mat-body-strong">
          Welcome To The Most Comprehensive Patient's Portal Available. We Are
          Open For All Your Medical Needs. Contact Your Doctor, See Your
          Documentation, Prescriptions And Many More. For Login Credentials
          Contact Your Medical Services Provider.
        </p>
        <button
          mat-raised-button
          type="button"
          class="login-button"
          routerLink="/login"
        >
          START
        </button>
        <h3 class="mat-display-1">OUR SERVICES</h3>
        <mat-grid-list cols="3">
          <mat-grid-tile>
            <div class="service-container">
              <div class="service">
                <img src="../../../assets/docs.png" />
              </div>
              <span class="mat-h2">Documentation</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="service-container">
              <div class="service">
                <img src="../../../assets/appoint.svg" />
              </div>
              <span class="mat-h2">Appointments</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="service-container">
              <div class="service">
                <img src="../../../assets/alcohol-gel.svg" />
              </div>
              <span class="mat-h2">Prescriptions</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="landing-background"></div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
