p {
  text-align: center;
  padding: 40px 40px 0px;
  font-family: "Montserrat";
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
}

h1,
h2 {
  margin: 10px;
  font-family: "Montserrat";
}

h2 {
  margin-top: 100px;
  font-family: "Montserrat";
}

h3 {
  margin: 50px 0px 0px;
  font-family: "Montserrat";
}

span {
  color: #2a46b8;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat";
}

.service-container {
  margin-bottom: 20px;
}

.mat-grid-tile {
  overflow: inherit;
}

.service {
  background-color: #f5f6fa;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 50px;
}

.description-container {
  color: #2a46b8;
  text-align: center;
  font-weight: 900;
  height: 100%;
}

.login-button {
  background-color: #2a46b8;
  color: white;
  margin-left: auto;
  margin-right: auto;
  min-width: 35em;
  min-height: 3.125em;
  margin-top: 1.25em;
}

.landing-background {
  background-image: url("/../../../assets/landing-background.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
