<div class="list-div">
  <mat-list>
    <mat-list-item>
      Start Date: <span>{{ visit.startDate }}</span></mat-list-item
    >
    <mat-list-item>
      End Date: <span>{{ visit.endDate }}</span></mat-list-item
    >
    <mat-list-item>
      Description: <span>{{ visit.description }}</span></mat-list-item
    >
  </mat-list>
  <mat-list>
    <mat-list-item>
      Price:
      <span
        ><span>{{ visit.price }}</span></span
      ></mat-list-item
    >
    <mat-list-item>
      Clinc: <span>{{ visit.clinic.name }}</span></mat-list-item
    >
  </mat-list>
</div>
