.card-deck-container {
  position: relative;
  background-color: #f5f5f5;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding-bottom: 30px;
  max-width: 420px;
  flex: 0 1 50%;
  box-sizing: border-box;
  margin: 2px 32px 2px;
}

.select-area {
  width: 100%;
  height: 100%;
  min-height: 57vh;
  background-color: #e5e5e5;
  margin: 1.5em 0 0 0;
  text-transform: uppercase;
}

.select-area-content {
  padding-top: 50px;
  font-size: 2.5em;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #d1d1d1;
}
