<ng-container *ngIf="doctors">
  <div *ngIf="doctors.length === 0" class="select-area">
    <div class="select-area-content">
      Now There are no doctors <br />
      with a given criteria<br />
    </div>
  </div>
</ng-container>
<ng-content></ng-content>
<div *ngIf="doctors.length > 0" class="card-deck-container mat-elevation-z8">
  <div class="cards">
    <div *ngFor="let doctor of doctors" class="card">
      <app-doctor-details
        [doctor]="doctor"
        class="card doctor-container"
      ></app-doctor-details>
    </div>
  </div>
</div>
