span {
  margin-left: 10px;
  font-weight: initial;
}

h4 {
  font-size: 14px;
  font-weight: initial;
}

button:hover {
  background-color: #ebf0fa;
}

.doctors-profile {
  overflow: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 50px;
  max-width: 800px;
}

.header-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.mat-card {
  padding: 30px;
  align-items: center;
  margin: 30px;
}

.list-div {
  display: flex;
  justify-content: space-between;
  background-color: #ebf0fa;
}

.mat-list {
  display: inline-block;
}

.mat-list-item {
  font-weight: 600;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 40px;
  min-height: 200px;
  max-height: 400px;
  max-width: 300px;
}

.placeholder-avatar {
  min-width: 170px;
  min-height: 170px;
  border-radius: 50%;
}

.mat-card-actions {
  margin-top: 20px;
}
