<div class="doctors-profile" *ngIf="doctor">
  <mat-card>
    <div class="header-container">
      <mat-card-header></mat-card-header>
      <h2>{{ doctor.firstName }} {{ doctor.lastName }}</h2>
      <h4>Personal Profile</h4>
    </div>
    <img
      class="avatar"
      *ngIf="base64Data; else profileIcon"
      [src]="retrievedImage"
    />
    <ng-template #profileIcon>
      <img
        class="placeholder-avatar"
        src="../../../assets/account_circle-24px.svg"
      />
    </ng-template>
    <mat-card-content>
      <div class="list-div">
        <mat-list>
          <mat-list-item>
            Name:
            <span
              >{{ doctor.firstName }} {{ doctor.lastName }}</span
            ></mat-list-item
          >
          <mat-list-item>
            Specialization:
            <span>{{
              doctor.specialization.toLowerCase()
            }}</span></mat-list-item
          >
        </mat-list>
        <mat-list>
          <mat-list-item>
            Email:
            <span
              ><span>{{ doctor.email }}</span></span
            ></mat-list-item
          >
          <mat-list-item>
            Phone number:
            <span>{{ doctor.phoneNumber }}</span></mat-list-item
          >
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="../visits">VISITS</button>
      <button
        mat-button
        routerLink="../prescriptions"
        [queryParams]="{ isUser: true, isDoctor: true }"
      >
        PRESCRIPTIONS
      </button>
      <button mat-button (click)="openEditDialog()">
        EDIT
      </button>
      <button mat-button (click)="openPhotoDialog()">
        PHOTO
      </button>
    </mat-card-actions>
  </mat-card>
</div>
