/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
}

.page-title {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  font-family: "Montserrat";
  color: #2295a2;
}

.background-container {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(#19769f, #35d8a6);
}

.page-container {
  padding: 30px;
  color: #2295a2;
}

.select {
  margin-bottom: 30px;
  margin-right: 40px;
}

.dialog-h3 {
  text-align: center;
  margin-top: 5px;
  width: 100%;
  margin-bottom: 10px;
  font-family: "Montserrat";
  color: #2295a2;
}

.choice-button {
  background-color: #2295a2;
  color: white;
  margin: 20px;
  margin-top: 40px;
  min-width: 40%;
  min-height: 3.125em;
  margin-top: 1.25em;
  font-family: "Montserrat";
}

.dialog-container {
  text-align: center;
  margin: 70px auto 20px;
  padding: 20px;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding-right: 8px;
}

.table-div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  overflow: auto;
  width: 80%;
  text-align: center;
}

.list-div {
  display: flex;
  justify-content: space-between;
  background-color: #ebf0fa;
}

.mat-list {
  display: inline-block;
}

.mat-list-item {
  font-weight: 600;
}
