<div class="table-div mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="onSort($event)"
  >
    <ng-container matColumnDef="Patient">
      <mat-header-cell *matHeaderCellDef mat-sort-header="firstName"
        >Patient</mat-header-cell
      >
      <mat-cell *matCellDef="let patient">
        {{ patient.firstName }} {{ patient.lastName }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header="email"
        >Email</mat-header-cell
      >
      <mat-cell *matCellDef="let patient">{{ patient.email }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Date Of Joining">
      <mat-header-cell *matHeaderCellDef mat-sort-header="dateOfJoining"
        >Joining Date</mat-header-cell
      >`
      <mat-cell *matCellDef="let patient">{{ patient.dateOfJoining }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Identity Number">
      <mat-header-cell *matHeaderCellDef mat-sort-header="identityNumber"
        >Identity Number</mat-header-cell
      >
      <mat-cell *matCellDef="let patient">{{
        patient.identityNumber
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Phone Number">
      <mat-header-cell *matHeaderCellDef mat-sort-header="phoneNumber"
        >Phone Number</mat-header-cell
      >
      <mat-cell *matCellDef="let patient">{{ patient.phoneNumber }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        <div class="expandable-container">
          <button mat-fab (click)="openPatientsDocumentation(detail.element)">
            DOCUMENTATION
          </button>
          <button mat-fab (click)="openPrescribingDialog(detail.element)">
            PRESCRIBE
          </button>
          <button mat-fab (click)="openPatientsPrescriptions(detail.element)">
            PRESCRIPTIONS
          </button>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      matRipple
      class="element-row"
      [class.expanded]="expandedPatient == row"
      (click)="expandedPatient = expandedPatient === row ? null : row"
    ></mat-row>
    <mat-row
      *matRowDef="
        let row;
        columns: ['expandedDetail'];
        when: isExpansionDetailRow
      "
      [@detailExpand]="
        row.element == expandedPatient ? 'expanded' : 'collapsed'
      "
      style="overflow: hidden;"
    >
    </mat-row>
  </table>
  <mat-paginator
    *ngIf="dataSource.page | async as page"
    [length]="page.totalElements"
    [pageSize]="page.size"
    [pageIndex]="page.number"
    [hidePageSize]="true"
    (page)="dataSource.fetch($event.pageIndex)"
  >
  </mat-paginator>
</div>
