.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.mat-fab {
  min-width: 130px;
  min-height: 80px;
  margin: 15px 50px 15px;
  background-color: #2295a2;
}

.expandable-container {
  width: 100%;
}
