<h3 class="mat-display-1 dialog-h3">
  Edit Your Profile
</h3>
<div class="dialog-container">
  <mat-error *ngIf="error" style="text-align: center;">
    <p>{{ error }}</p>
  </mat-error>
  <form
    [formGroup]="editForm"
    (ngSubmit)="updateProfile()"
    class="example-form"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" value="{{ data.email }}" />
      <mat-error
        *ngIf="!editForm.get('email').valid && editForm.get('email').touched"
        >{{ getErrorMessage(editForm.get("email")) }}</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Phone Number</mat-label>
      <textarea
        matInput
        formControlName="phoneNumber"
        value="{{ data.phoneNumber }}"
      ></textarea>
      <mat-error
        *ngIf="
          !editForm.get('phoneNumber').valid &&
          editForm.get('phoneNumber').touched
        "
        >{{ getErrorMessage(editForm.get("phoneNumber")) }}</mat-error
      >
    </mat-form-field>
    <mat-form-field style="display: block;">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        type="button"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          !editForm.get('password').valid && editForm.get('password').touched
        "
        >{{ getErrorMessage(editForm.get("password")) }}</mat-error
      >
    </mat-form-field>
    <button mat-raised-button type="submit" class="choice-button">
      SAVE
    </button>
  </form>
</div>
