<div class="table-div mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="onSort($event)"
  >
    <ng-container matColumnDef="Doctor">
      <mat-header-cell *matHeaderCellDef mat-sort-header="doctorFirstName"
        >Doctor</mat-header-cell
      >
      <mat-cell *matCellDef="let visit"
        >{{ visit.doctor.firstName }} {{ visit.doctor.lastName }}</mat-cell
      >
    </ng-container>
    <ng-container matColumnDef="Clinic">
      <mat-header-cell *matHeaderCellDef mat-sort-header="clinicName"
        >Clinic</mat-header-cell
      >
      <mat-cell *matCellDef="let visit">{{ visit.clinic.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Start Date">
      <mat-header-cell *matHeaderCellDef mat-sort-header="startDate"
        >Start Date</mat-header-cell
      >`
      <mat-cell *matCellDef="let visit">{{ visit.startDate }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="End Date">
      <mat-header-cell *matHeaderCellDef mat-sort-header="endDate"
        >End Date</mat-header-cell
      >
      <mat-cell *matCellDef="let visit">{{ visit.endDate }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header="type"
        >Description</mat-header-cell
      >
      <mat-cell *matCellDef="let visit">{{ visit.description }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Price/USD">
      <mat-header-cell *matHeaderCellDef mat-sort-header="price"
        >Price/USD</mat-header-cell
      >
      <mat-cell *matCellDef="let visit">{{ visit.price }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header="status"
        >Status</mat-header-cell
      >
      <mat-cell *matCellDef="let visit">{{ visit.status }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        <div class="expandable-container">
          <button mat-fab (click)="cancelVisit(detail.element)">
            CANCEL
          </button>
          <button mat-fab (click)="openDoctorDialog(detail.element)">
            DOCTOR
          </button>
          <button mat-fab (click)="openClinicDialog(detail.element)">
            CLINIC
          </button>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      matRipple
      class="element-row"
      [class.expanded]="expandedVisit == row"
      (click)="expandedVisit = expandedVisit === row ? null : row"
    ></mat-row>
    <mat-row
      *matRowDef="
        let row;
        columns: ['expandedDetail'];
        when: isExpansionDetailRow
      "
      [@detailExpand]="row.element == expandedVisit ? 'expanded' : 'collapsed'"
      style="overflow: hidden;"
    >
    </mat-row>
  </table>
  <mat-paginator
    *ngIf="dataSource.page | async as page"
    [length]="page.totalElements"
    [pageSize]="page.size"
    [pageIndex]="page.number"
    [hidePageSize]="true"
    (page)="dataSource.fetch($event.pageIndex)"
  >
  </mat-paginator>
</div>
